
.pagina-contato {
    background-image: url('../../../public/assets/images/bg.jpg');
    min-height: 100vh;

    .titulo {
        color: green;
        font-size: 30px;
    }
    
    img {
        width: 100px;
    }
    

}


