

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    nav {
        display: flex;
        gap: 20px;

        a {
            color: #fff;
            background-color: #9446dd;
            padding: 15px 30px;
            text-decoration: none;
            border-radius: 3px;
        }
    }
}