@font-face {
    font-family: discordfont2;
    src: url(../../../public/assets/fonts/discordfont2.woff2);
  }
  
  @font-face{
    font-family: discordfont1;
    src: url(../../../public/assets/fonts/discordfont1.woff2);
  }
  @font-face{
    font-family: discordfont3;
    src: url(../../../public/assets/fonts/discordfont3.woff2);
  } 
  @font-face{
    font-family: discordfont4;
    src: url(../../../public/assets/fonts/discordfont4.woff2);
  }
  @font-face{
    font-family: discordfont5;
    src: url(../../../public/assets/fonts/discordfont5.woff2);
  }
  @font-face {
    font-family: discordfont6;
    src: url(../../../public/assets/fonts/discordfont6.woff2);
  }

body{
  overflow-x: hidden;
}

.faixa0{
    align-items: center;
    width: 100%;
    padding: 25px;

    .logo{
        position: relative;
        left: 310px;
        width: 100px;
    }

    a{
        font: 0.8669rem discordfont4;        
        position: relative;
        color: rgba(0, 0, 0, 0.774);
        float: right;
        padding-right: 380px;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
    }
}

.faixa1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 622px;
    background-position-x: center;
    background-image: url(../../../public/assets/images/Faixa01-Background.svg);

    p{
      color: white;
      font: 15px discordfont4;
    }

    h4{
      font: 20px discordfont6;
      color: white;
    }

    span{
        color: white;
    }

    img{
        height: 626px;
        width: 960px;
    }

    .botoes{
      display: flex;
      flex-direction: column;
      position: absolute;
      border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;;
      box-shadow: rgba(93,93,93,0.15) 4px 0 24px 0;
      background-color: white;
      height:209px;
      width: 408px;

      span{
        margin-top: 50px;
        font: 20px discordfont5;
        color: black;
        text-align: center;
      }

      a{
        position: relative;
        left: 60px;
        height: 3rem;
        width: 18.0625rem;
        text-align:center;
        font: 15px discordfont6;
        background-color: black;
        color: white;
        text-decoration: none;
        line-height: 50px;

        &:hover{
          cursor: pointer;
          background-color: rgb(65, 64, 64);
        }
      }
    }

}

.faixa2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 622px;

    div{
      display: flex;
      flex-direction: row;

      div{
        display: flex;
        flex-direction: column;

        h3{
          font: 0px discordfont6;
          font-size: 1.25rem;
        }

        p{
            width: 17.1875rem;
            font: 0px discordfont4;
            font-size: 0.8669rem;
        }
      }

    }

    span{
      text-align: center;
      padding-top: 175px;
      font: 0px discordfont6;
      font-size: 2.875rem;
    }

    a{
      font: 20px discordfont6;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      color: black;
      border-radius: 25px;
      background-color: #F5F5F5;
      text-decoration: none;
      height: 3rem;
      width: 15.3125rem;
      line-height: 50px;

      &:hover{
        cursor: pointer;
        background-color:#d1d1d1
      }
    }

}

.faixa3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 481px;
    background-position-x: center;
    background-image: url(../../../public/assets/images/Faixa03-Background.png);

    h3{
      padding-top: 50px;
      position: relative;
      left: 300px;
      text-align: left;
      font: 0px discordfont6;
      font-size: 2.1672rem;
      color: white;
    }

    div{
      display: flex;
      flex-direction: row;
      position: relative;
      left: 150px;

      div{
        display: flex;
        flex-direction: column;
        width: 20.4375rem;
        gap: 10px;
        padding-top: 30px;
        padding-left: 40px;

        strong{
          display: flex;
          color: white;
          font: 10px discordfont5;
          font-size: 0.9907rem;
          gap: 10px;
        }

        span{
          color: white;
          font: 10px discordfont2;
          font-size: 0.8669rem;
        }
      }
    }
}
